<h2>Контактная информация</h2>
<br>

<div class="contacts-page-info">
	<p><i class="glyphicon glyphicon-map-marker"></i> <%= @core_setting.address %></p>
	<p><i class="glyphicon glyphicon-phone"></i> <%= @core_setting.main_phone %></p>
	<p><i class="glyphicon glyphicon-globe"></i> <%= link_to @core_setting.vk_personal_link, "https://" + @core_setting.vk_personal_link %></p>
	<p><i class="glyphicon glyphicon-envelope"></i> <%= @core_setting.main_email %></p>
</div>
<br>

<h2>Мы в социальных сетях</h2>
<br>

<%= link_to @core_setting.vk_link, target: "_blank", class: "no-border" do %>
<%= image_tag "icon-vk-dark.jpg", class: "contacts-icon" %>
<% end %>
<%= link_to @core_setting.instagram_link, target: "_blank", class: "no-border" do %>
	<%= image_tag "icon-instagram-dark.jpg", class: "contacts-icon" %>
<% end %>
<%= link_to @core_setting.youtube_link, target: "_blank", class: "no-border" do %>
	<%= image_tag "icon-yt-dark.jpg", class: "contacts-icon" %>
<% end %>