<div class="gallery">
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("1.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("2.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("16.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("1.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("2.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("16.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("1.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("2.jpg", class: "gallery-thumb") %>
	</div>
</div>