<div class="gallery">
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/1.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/2.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/3-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/4-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/5-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/6-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/7-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/8-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/9-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/10-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/11.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/12-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/13-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/14-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/15-q.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/16.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/17.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/18.jpg", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("gallery/19.jpg", class: "gallery-thumb") %>
	</div>
</div>