<div class="gallery">
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("1", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("2", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("16", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("1", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("2", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("16", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("1", class: "gallery-thumb") %>
	</div>
	<div class="col-md-3 col-sm-4 col-xs-6">
		<%= image_tag("2", class: "gallery-thumb") %>
	</div>
</div>