<% if user_signed_in? && is_admin? %>
		<%= simple_form_for(@news) do |f| %>
		<%= f.error_notification %>
		
		<style media="screen">
			<% if f.object.thumbnail.present? %>
				.news-admin-add-thumb { 
								background-image: url(<%= f.object.thumbnail.url(:thumb) %>); }
			<% else %>
				.news-admin-add-thumb { 
								background-image: url(<%= root_url + "assets/news-placeholder.jpg" %>); }
			<% end %>
		</style>	

		<div class="form-inputs">
		
			<div class="row">
				<div class="col-xs-12">
					<%= f.input :title, label: 'Заголовок', class: "form" %>
				</div>
			</div>

			<%= f.input :thumbnail, label: 'Изображение',
								input_html: { class: "form-input form-control news-admin-add-thumb" } %>
			<br>
			
			<%= f.input :thumb_title, label: 'Meta Title изображения' %>
			<%= f.input :thumb_alt, label: 'Meta Alt изображения' %>
			<br>

			<%= f.label :body, 'Текст' %>
			<%= f.cktext_area :body, class: "form ckeditor",
																					ckeditor: { language: "ru", height: "250" } %>
		</div>
		<br>
		
		<div class="form-actions">
			<%= f.button :submit, "Отправить", class: "btn btn-primary" %>
		</div>
		<br>
	<% end %>
<% end %>
