<% if user_signed_in? && is_admin? %>
		<%= simple_form_for(@news) do |f| %>
		<%= f.error_notification %>

		<div class="form-inputs">
			<%= f.label :title, 'Заголовок' %>
			<%= f.text_field :title, class: "form" %>
			<br>
			
			<div class="news-admin-add-thumb">
				<%= f.label :thumblail, 'Изображение' %>
				<%= f.input :thumbnail, label: false,
									input_html: { class: "form-input form-control" } %>
			</div>
			
			<% if f.object.thumbnail.present? %>
				<%= image_tag f.object.thumbnail.url(:thumb), class: "news-admin-thumb" %>
			<% else %>
				<%= image_tag 'news-placeholder.jpg', class: "news-admin-thumb" %>
			<% end %>
			
			<div class="news-admin-meta">
				<%= f.input :thumb_title, label: 'Meta Title изображения' %>
				<%= f.input :thumb_alt, label: 'Meta Alt изображения' %>
			</div>
			<div class="clearfix"></div>

			<br>
			<%= f.label :body, 'Текст' %>
			<%= f.cktext_area :body, class: "form ckeditor",
																					ckeditor: { language: "ru", height: "250" } %>
		</div>
		<br>
		
		<div class="form-actions">
			<%= f.button :submit, "Отправить", class: "btn btn-primary" %>
		</div>
		<br>
	<% end %>
<% end %>
