<% if user_signed_in? && is_admin? %>
		<%= simple_form_for(@news) do |f| %>
		<%= f.error_notification %>

		<div class="form-inputs">
			<%= f.label :title, 'Заголовок' %>
			<%= f.text_field :title, class: "form" %>
			<%= f.label :body, 'Текст' %>
			<%= f.cktext_area :body, class: "form ckeditor",
																					ckeditor: { language: "ru", height: "250" } %>
			<br>
			<%= f.input :thumbnail, label: false,
							input_html: { class: "form-input form-control" } %>
		</div>
		<br>
		
		<div class="form-actions">
			<%= f.button :submit, "Отправить" %>
		</div>
		<br>
	<% end %>
<% end %>
