<p id="notice"><%= notice %></p>


<% @news.each do |news| %>
	<h1><%= news.title %></h1>
	<p><%= news.body %></p>

	<!--        <td><%= link_to 'Show', news %></td>-->
	<%= link_to 'Редактировать', edit_news_path(news) %>
	<%= link_to 'Удалить', news, method: :delete, data: { confirm: 'Уверены?' } %>
	<br><br>
<% end %>

<%= link_to 'Добавить новость', new_news_path %>