<% if user_signed_in? && is_admin? %>
	<%= simple_form_for @gallery, html: { multipart: true } do |f| %>
	<% if @gallery.errors.any? %>
			<div id="errors">
				<p>
					<%= @gallery.errors.count %>
					prevented gallery from saving
				</p>
				<ul>
					<% @gallery.errors.full_messages.each do |msg| %>
						<li>
							<%= msg %>
						</li>
					<% end %>
				</ul>
			</div>
		<% end %>

<!--		<%= f.input :name, placeholder: 'Название', label: "Не менять!" %> <br>-->
		<div class="col-xs-12">
			<%= f.text_area :description, placeholder: 'Описание', class: 'form textarea-50' %>
		</div>

			<div class="clearfix"></div>
			<h3>Фотографии</h3>
			<br>

		<div class="photos">

			<%= f.simple_fields_for :pictures do |pic| %>
				<%= render 'picture_fields', f: pic %>
			<% end %>

			<%= link_to_add_association 'Добавить фотографию', f, :pictures,
class: "admin-add-photo btn btn-default col-md-3 col-sm-4 col-xs-6" %>

		</div>
		
		<div class="clearfix"></div>
		<br>

		<div class="col-xs-12 mbottom20">
			<%= link_to "Назад", "/gallery", class: "btn btn-default" %>
			<%= f.button :submit, "Сохранить", class: "btn btn-primary" %>
		</div>
		
	<% end %>
<% end %>
