<div class="well page-standout">
	<h4><%= @gallery.description %></h4>
</div>

<div class="gallery relative">
	<% if user_signed_in? %>
		<%= link_to "Добавить фотографии", "gallery/edit",
																					class: "btn btn-primary side-button margin" %>
	<% end %>

	<% @gallery.pictures.each do |pic| %>
		<div class="relative col-md-3 col-sm-4 col-xs-6">
			<%= link_to pic.image.url(:original) do %>
				<%= image_tag pic.image.url(:thumb), class: "gallery-thumb" %>
			<% end %>
			
			
			<% if user_signed_in? %>
				<%= link_to pic, method: :delete, data: { confirm: "Уверены?" },
																							class: "side-button corner-button" do %>
				<i class="glyphicon glyphicon-remove"></i>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>