<div class="footer">
	<div class="container">
		<div class="row relative">
			<div class="col-sm-4 col-xs-6">
				<h3 id="contacts">Контакты</h3>
				<p><i class="glyphicon glyphicon-map-marker"></i> Новосибирск, Россия</p>
				<p><i class="glyphicon glyphicon-phone"></i> +7 913 381 1213</p>
				<p><i class="glyphicon glyphicon-globe"></i> vk.com/shmelevanton</p>
				<p><i class="glyphicon glyphicon-envelope"></i> hooliganz-school@mail.ru</p>
			</div>
			<div id="social" class="col-md-3 col-sm-4 col-xs-6">
				<h3>Мы в соц. сетях</h3>				
				<%= link_to "https://vk.com/barbering", target: "_blank" do %>
					<%= image_tag "icon-vk.jpg", class: "footer-icon" %>
				<% end %>
				<%= link_to "https://instagram.com/hooliganzschool/", target: "_blank" do %>
					<%= image_tag "icon-instagram.jpg", class: "footer-icon" %>
				<% end %>
				<%= link_to "https://www.youtube.com/c/HooliganzSu", target: "_blank" do %>
					<%= image_tag "icon-yt.jpg", class: "footer-icon" %>
				<% end %>
			</div>
			
			<p id="copy" class="pull-down hidden-xs"><i class="glyphicon glyphicon-copyright-mark"></i> <%= Time.now.year %> Hooliganz</p>
			<p id="login" class="pull-down hidden-xs col-sm-offset-4">
				<% if user_signed_in? %>
					<%= current_user.email %><br><%= link_to 'Выйти', destroy_user_session_path, :method => :delete %> | <%= link_to 'Редактировать', edit_user_registration_path %>
					<br><br>
					<%= link_to "Настройки сайта", "/edit_settings" %>
				<% else %>
					<%= link_to 'Войти в админку', new_user_session_path %>
				<% end %>
			</p>
			
			<%= render "contact_form_mailer/contact_form" %>
		</div>
		
		<p id="copy-xs" class="visible-xs">
			<i class="glyphicon glyphicon-copyright-mark"></i>
			<%= Time.now.year %> Hooliganz | 
			<% if user_signed_in? %>
				<%= current_user.email %> | <%= link_to 'Выйти', destroy_user_session_path, :method => :delete %> | <%= link_to 'Редактировать', edit_user_registration_path %>
				<br>
				<%= link_to "Настройки сайта", "/edit_settings" %>
			<% else %>
				<%= link_to 'Войти в админку', new_user_session_path %>
			<% end %>
		</p>
		
	</div>
</div>