<!DOCTYPE html>
<html>
<head>
  <title>Hooliganz</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Serif:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= render 'layouts/header' %>

	<div id="main-content" class="container">
		<%= yield %>
	</div>

	<%= render 'layouts/footer' %>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
