<!DOCTYPE html>
<html>
<head>
  <title>Школа мужских стрижек HOOLiGANZ</title>
  <meta name="description" content="Обучение парикмахеров в Новосибирске. Подготовка персонала для барбершопов. Базовый и прогрессивный курсы. Тренер — Антон Шмелев.">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="fTdImaPjvrkHrVUBTptZJU0jVNd8FIJN5o3uibnGMP0" />
  
  <%= favicon_link_tag 'favicon-16x16.png' %>
  
  <meta name="viewport" content="width=device-width, initial-scale=0.8">
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic|PT+Serif:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
	<%= render 'layouts/header' %>

	<div id="main-content" class="container">
	
		<% flash.each do |name, msg| %>
			<% if msg.is_a?(String) %>
				<div class="alert alert-<%= name.to_s == 'notice' ? 'success' : 'danger' %>">
					<%= content_tag :div, msg, :id => "flash_#{name}" %>
				</div>
			<% end %>
		<% end %>
	
		<%= yield %>
	</div>

	<%= render 'layouts/footer' %>
	
	<i class="scroll-to-top glyphicon glyphicon-arrow-up"></i>

</body>
</html>
